**/github-copilot/
**/tmux/plugins/
*.log
**/.emacs.d
!**/.emcas.d/early-init.el
!**/.emcas.d/init.el
!**/.emcas.d/snippets
!**/.emacs.d/straight/versions

.DS_Store
.config/emacs.bak/
.config/homebrew/

.config/emacs/**
!.config/emacs/
!.config/emacs/elpaca/
!.config/emacs/early-init.el
!.config/emacs/init.el
!.config/emacs/emacs-custom.el
!.config/emacs/elpaca/lockfile.el

.aider*
.config/cargo/*
!.config/cargo/config.toml
.config/configstore/
.zshrc.local
.DS_Store
.config/nvm/
